

/************************************************/
/************* UNIVERSAL ELEMENTS ***************/
/************************************************/

body,
html {
  height: 100%;
  font-size: 20px;
  font-family: "Roboto", sans-serif; /* Change this to your font */
  line-height: 1.5em;
  margin: 0em;
  color: white;
  background-color: #0D38D3;
  box-sizing: border-box;
}

h1 {
  letter-spacing: 5px;
  font-size: 50px;
  font-family: "Roboto Mono", sans-serif; /* Change this to your font */
  color: #0D38D3;
  text-align: center;
}

h2 {
  letter-spacing: 3px;
  font-size: 25px;
  font-family: "Roboto Mono", sans-serif; /* Change this to your font */
  color: #0D38D3;
  text-align: center;
  line-height: 1.3em;
}

p a{
  color: #43d6b9ff;
  text-decoration: none;
}

/************************************************/
/*************** CSS FOR NAV BAR ****************/
/************************************************/

/* Style the ul element with the class nav-bar*/
ul.nav-bar { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d30d0d;
   top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;
  
}

/* Style the li elements with the class nav */
li.nav {
  float: right;
  font-size: 15px;
}

/* Style the a elements in the li class nav */
li.nav a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

/* Style the a elements in the li class nav when the mouse is hovering */
li.nav a:hover {
  background-color: #ffffff;
  color: #d30d0d;
}

/************************************************/
/************** CSS FOR INDEX.HTML **************/
/************************************************/

/*-----------TOP IMAGE + TEXT-----------*/
/* Container for top image and text - Designed for mobile first */
.main-message {
  
  background-image: url("https://cdn.glitch.com/42fa3ce2-7377-4d90-b1ab-86172d5e878c%2Ftraining.jpeg?v=1593036709937");
  
 /* min-height: 100%;
  background-size: auto;
  background-color: #0D38D3;*/
  
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-text);
  background-size: initial;
  min-height: 100%;
  /*border-style: dotted; /*Uncomment to see the outline of the container*/
}

/*-----------PARALLAX SCROLL-----------*/
.main-message,
.image-one,
.image-two,
.image-three,
.image-four {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #43d6b9ff;
  background-size: cover;
  min-height: 100%; /*Adjust the gap between sections*/

  /*Creates the scrolling effect*/
  background-attachment: fixed;
}

/* Flexbox container for title and intro text */
.flex-container {
  display: flex; /* Set the flexbox display */
  flex-direction: row; /* Configure the flex items to row */
  flex-wrap: nowrap; /* Don’t wrap the flex items */
  justify-content: center; /* Justify the flex items to the center */
  align-items: center; /* Align the flex items to the center */

  background-color: #d30d0d;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  padding: 5px;
  align-items: center;
  top: 50%;
  left: 10%;
  right: 10%;
}

/* Left box */
.heading-home {
  padding: 4%;
  margin: 2%;
  text-align: center;
  color: #0D38D3;
  font-size: 50px;
  letter-spacing: 10px;
  line-height: 60px;
  /*border-style: dotted; /*Uncomment to see the outline of the container*/
}

/* Right box */
.intro-text {
  padding: 4%;
  margin: 2%;
  text-align: center;
  color: #0D38D3; /* Add the color of your font */
  background-color: #d30d0d; /* Add your own background color */
  font-size: 20px; /* Add your font size*/
  letter-spacing: 2px; /* Adds space between letters */
  line-height: 1.4em; /* Adds space between lines */
  /*border-style: dotted; /*Uncomment to see the outline of the container*/

  
}

/*-----------TEXT SCROLLING SECTIONS-----------*/
.text-section {
  background-color: #d30d0d;
  padding: 20px 45px;
  margin: 35px;
  text-align: center;
}

/*-----------IMAGES-----------*/

.image-one {
  background-image: url("https://cdn.glitch.com/42fa3ce2-7377-4d90-b1ab-86172d5e878c%2Ftaekwondo.jpg?v=1593034218134");
}

.image-two {
  background-image: url("https://cdn.glitch.com/42fa3ce2-7377-4d90-b1ab-86172d5e878c%2Fpunch3.jpg?v=1593104219254");
}

.image-three {
  background-image: url("https://cdn.glitch.com/42fa3ce2-7377-4d90-b1ab-86172d5e878c%2Fgirlie.jpg?v=1593115558294");
}

.image-four {
  background-image: url("https://cdn.glitch.com/42fa3ce2-7377-4d90-b1ab-86172d5e878c%2Fpalm.jpg?v=1593104573590");
}

/* Add more images here for more scrolling! */


/******************************************************/
/***** CHANGE INDEX.HTML CSS BASED ON SCREEN SIZE *****/
/******************************************************/

/* IF THE SCREEN IS ~~700 OR LESS~~ IMPLEMENT THESE RULES */

@media only screen and (max-width: 700px) {
  .main-message,
  .image-one,
  .image-two,
  .image-three,
  .image-four {
    background-attachment: scroll;
  }

  .flex-container {
    flex-wrap: wrap;
  }
}

/* IF THE SCREEN IS ~~701 OR MORE~~ IMPLEMENT THESE RULES */

@media only screen and (min-width: 701px) {
  .flex-container {
    flex-wrap: nowrap;
    left: 25%;
    right: 25%;
  }
}

/* IF THE SCREEN IS ~~1250 OR MORE~~ IMPLEMENT THESE RULES */
@media only screen and (min-width: 1250px) {
  h3 {
    font-size: 35px;
  }

  .main-message,
  .image-one,
  .image-two,
  .image-three,
  .image-four {
    background-attachment: fixed;
  }

  .main-message {
    height: 75%;
  }

  .textSection {
    margin: 1.5% 15%;
    font-size: 20px;
    line-height: 1.5em;
    /*border-style: dotted;*/ /*Uncomment to see the outline of the container*/
  }
}

